:root {
  --light-tealish: #93E4D2;
  --very-light-tealish:#C2E5E3;
  --light-yellowish: #FAE1A8;
  --dark-yellowish: #E7A16E;
  --dark-pinkish: #E87189;
  --light-pinkish: #F8D4E9;
  --light-silverish: #EEEEEC;
  --dark-tealish: #698F97;
  --dark-silverish: #B4B8BD;
  --very-dark-tealish: #536373;
}
