:root{--light-tealish:#93E4D2;--very-light-tealish:#C2E5E3;--light-yellowish:#FAE1A8;--dark-yellowish:#E7A16E;--dark-pinkish:#E87189;--light-pinkish:#F8D4E9;--light-silverish:#EEEEEC;--dark-tealish:#698F97;--dark-silverish:#B4B8BD;--very-dark-tealish:#536373;--light-off-white:#fffcf5}
.fa-lg{line-height:normal!important}
.button-input-container{display:flex;flex-direction:column}
.overlay-button-input-container{position:relative;display:flex}
.compare-btn-container{position:absolute;top:0;left:0}
.compare-btn-int{position:relative;width:30px;height:30px;background-color:transparent;border:none;cursor:pointer}
.compare-btn-int:hover i{color:var(--dark-pinkish)}
.compare-btn-int i{position:relative;z-index:1;color:var(--very-light-tealish)}
.text-border{border:2px solid var(--dark-yellowish);border-radius:5px;padding:2px 4px;width:150px;height:22px;display:inline-block;text-align:center;line-height:22px;background-color:var(--light-silverish)}
.header{position:relative;width:100%;height:200px;overflow:hidden}
.logo-container{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:2}
.logo{max-width:150px;max-height:150px;position:relative;border-radius:20px}
.logo::before{content:"";position:absolute;top:-5px;left:-5px;right:-5px;bottom:-5px;border-radius:20px;background:linear-gradient(45deg,#00f,red,#0f0,#00f,red,#0f0);background-size:300% 300%;z-index:-1;animation:gradient 8s linear infinite;box-shadow:0 0 5px #fff,0 0 10px #fff,0 0 20px #fff,0 0 30px #00f,0 0 40px #00f,0 0 50px #00f,0 0 60px #00f;background-color:rgba(255,255,255,.1)}
@keyframes gradient{
0%{background-position:0 50%}
50%{background-position:100% 50%}
100%{background-position:0 50%}
}
.header-background{position:relative}
.header-bg{width:100%;height:100%;object-fit:cover}
.header{position:relative;width:100%;height:200px;overflow:hidden}
.header-background::before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(255,255,255,.3);z-index:1}
.footer{width:100%;background-color:var(--very-light-tealish);padding:20px 0}
.footer-content{text-align:center;color:var(--dark-tealish);font-size:14px}
body{font-family:Arial,sans-serif;margin:0;padding:0;margin-bottom:20px;display:flex;flex-direction:column;align-items:center}
.fixed-width{width:1px;visibility:hidden}
.container{display:flex;flex-wrap:wrap;justify-content:space-between;padding:20px;width:100%}
.tb2-container,.tb3-container,.tb4-container{align-items:center;width:100%;max-width:100%;display:flex;flex-direction:column;padding-top:20px;padding-bottom:20px}
.color-picker{display:flex;flex-wrap:wrap;gap:5px}
.color-option{width:30px;height:30px;cursor:pointer;border:1px solid rgba(0,0,0,.1);border-radius:5px}
.button-container{display:flex;gap:10px;padding-bottom:15px}
.export-btn{margin-top:10px}
.export-btn,.generate-button{padding:5px 10px;background-color:var(--light-tealish);border:none;border-radius:5px;cursor:pointer;transition:background-color .3s;width:auto;text-align:center}
.export-btn:hover,.generate-button:hover{background-color:var(--dark-tealish)}
.color-popup{position:absolute;background-color:var(--light-off-white);border:1px solid var(--dark-yellowish);padding:10px;border-radius:5px;z-index:1000;display:flex;justify-content:center;align-items:center;flex-wrap:wrap}
.color-input{display:inline-block;width:25px;height:25px;margin-right:5px;cursor:pointer;border:1px solid rgba(0,0,0,.1);border-radius:5px;padding:0}
input[type=color]::-webkit-color-swatch-wrapper{padding:0}
input[type=color]::-webkit-color-swatch{border:none;border-radius:5px}
.color-description-input{display:inline-block;vertical-align:middle;border:none;outline:0;margin-bottom:7px;background:0 0;padding:5px;line-height:1.4}
.color-description-input:focus{box-shadow:inset 0 0 0 1px var(--dark-silverish)}
.color-index-container{position:relative;display:flex;align-items:center;justify-content:flex-start;margin-bottom:10px}
.color-box{display:inline-block;width:20px;height:20px;margin-right:5px;margin-bottom:0;vertical-align:bottom;border:1px solid rgba(0,0,0,.1);border-radius:5px;padding:0}
.strikethrough-color-index{display:inline-block;width:20px;height:2px;margin-right:6px;margin-top:9px;margin-bottom:9px;vertical-align:bottom;border-radius:1px;padding:0}
.delete-button{position:absolute;top:0;right:0;background-color:var(--light-silverish);border:none;font-size:12px;padding:2px 5px;cursor:pointer}
.color-index-container:hover .delete-button{visibility:visible}
.strikethrough{text-decoration:line-through;color:var(--dark-silverish);font-style:italic}
.flex-container{display:flex;flex-wrap:wrap}
.item-wrapper{position:relative}
.add-between-items-button:hover,.item-wrapper:hover+.add-between-items-button{visibility:visible}
.plus-button-container{display:flex;justify-content:center;visibility:hidden;position:absolute;top:0;left:50%;transform:translateX(-50%);padding:5px;pointer-events:none}
.plus-button{background-color:transparent;border:none;font-size:14px;cursor:pointer;opacity:0;transition:opacity .3s}
.plus-button:focus{outline:0}
.settings-button{background-color:transparent;border:none;font-size:12px;cursor:pointer;opacity:0;transition:opacity .3s;margin-left:5px}
.settings-button:focus{outline:0}
.description-inputs-container{display:flex;flex-direction:column}
.button-hidden-style{visibility:hidden;border:none;background:0 0;font-size:12px;padding:0;margin:0;cursor:pointer}
.color-index-container:hover .button-hidden-style{visibility:visible}
.delete-input-button{visibility:hidden;border:none;background:0 0;font-size:12px;padding:0;margin:0;cursor:pointer;margin-right:5px;margin-bottom:13px}
.delete-input-button:hover{color:var(--dark-pinkish);background-color:rgba(255,255,255,.5)}
.input-wrapper{display:flex;align-items:center;justify-content:flex-start}
.description-dropdown{appearance:none;background:0 0;border:none;outline:0;font-weight:700;cursor:pointer;margin-bottom:7px;margin-right:15px;margin-left:15px;color:var(--very-dark-tealish);padding:5px;line-height:1.4}
.description-dropdown:focus,.description-dropdown:hover{color:inherit}
del{text-decoration:line-through;color:var(--dark-pinkish)}
ins{text-decoration:none;color:var(--light-tealish)}
.horizontal-accordion{display:flex;min-height:100px}
.accordion-heading{position:relative;cursor:pointer;padding:5px;font-size:14px;color:var(--dark-tealish);width:30px;display:flex;align-items:center;justify-content:center;background-color:transparent;border-right:1px solid var(--very-light-tealish);box-shadow:2px 0 4px rgba(184,204,184,.1);transition:all .3s}
.accordion-heading.active{color:var(--dark-yellowish);border-right:1px solid var(--light-yellowish);box-shadow:2px 0 4px rgba(255,170,51,.3)}
.rotated-content{position:absolute;transform:rotate(-90deg);white-space:nowrap;font-family:monospace}
.accordion-content{display:none;padding:20px;overflow:auto;min-height:300px;align-items:center;width:100%}
.accordion-content.active,.accordion-content.visible{display:flex;flex-direction:column}
.hamburger-menu{position:fixed;top:10px;right:10px;cursor:pointer;font-size:24px;z-index:10;padding:5px}
.hamburger-menu i{color:var(--light-off-white);text-shadow:-1.5px 0 var(--very-dark-tealish),0 1.5px var(--very-dark-tealish),1.5px 0 var(--very-dark-tealish),0 -1.5px var(--very-dark-tealish)}
.dropdown-menu{display:none;position:absolute;top:100%;right:0;background-color:rgba(255,255,255,.95);border:none;border-radius:5px;box-shadow:0 2px 4px rgba(0,0,0,.1);min-width:150px;overflow:hidden}
.dropdown-item{padding:8px 16px;cursor:pointer;font-size:14px;color:var(--dark-tealish);font-family:monospace}
.dropdown-item:hover{background-color:rgba(250,225,168,.7);color:var(--very-dark-tealish);cursor:pointer}
.dropdown-item.current{background-color:rgba(206,238,210,.7);color:var(--very-dark-tealish)}
main{width:100%;box-sizing:border-box;padding-left:5px;padding-right:5px}
.text-comparison-container{display:flex;flex-wrap:wrap;align-items:center;justify-content:center;padding:20px 10px 10px 10px}
.text-comparison-container{display:flex;flex-wrap:wrap;align-items:center;justify-content:center;padding:20px 10px 10px 10px}
.comp-output-container{display:flex;flex-direction:column;align-items:center}
.compare-btn{display:block;margin-top:20px;margin-bottom:20px;padding:5px 10px;background-color:var(--light-tealish);border:none;border-radius:5px;cursor:pointer;transition:background-color .3s}
.compare-btn:hover{background-color:var(--dark-tealish)}
.copy-to-designer-btn{display:block;margin-top:8px;margin-bottom:20px;padding:5px 10px;background-color:var(--light-tealish);border:none;border-radius:5px;cursor:pointer;transition:background-color .3s}
.copy-to-designer-btn:hover{background-color:var(--dark-tealish)}
.diff-results{border:1px solid var(--dark-silverish);padding:10px;height:200px;overflow:auto;border-radius:4px;line-height:1.6}
#results-container{display:flex;flex-direction:column;justify-content:space-between;width:95%}
.diff-results::before{content:attr(data-placeholder);display:block;pointer-events:none;opacity:.6;color:var(--dark-silverish)}
.diff-results:not(:empty)::before{content:""}
.container-wrapper{display:flex;flex-direction:column;align-items:center}
.add-description-button{padding:2px;font-size:12px;background-color:var(--light-tealish);border:none;border-radius:4px;cursor:pointer;box-shadow:0 2px 4px rgba(0,0,0,.3);transition:all .3s ease-in-out;margin-right:5px}
.modal{display:none;position:fixed;z-index:3;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.5)}
.modal-content{background-color:var(--light-silverish);margin:15% auto;padding:20px;border:1px solid var(--dark-silverish);width:80%;max-width:400px;border-radius:10px}
.modal-header{display:flex;justify-content:flex-start;margin-bottom:12px;align-items:center}
.modal-button{background:0 0;border:none;cursor:pointer;font-size:16px;margin-right:8px;padding:0;color:var(--dark-silverish);width:24px;height:24px;display:flex;align-items:center;justify-content:center}
.modal-button:hover{color:var(--very-dark-tealish)}
.save-icon{fill:var(--dark-tealish)}
#optionsTextarea{width:100%;resize:none;box-sizing:border-box;font-family:Arial,sans-serif;font-size:12px;border-radius:5px;line-height:1.6;padding:10px;border-color:var(--dark-yellowish)}
.modal-title{flex-grow:1;text-align:center;margin:0;font-size:14px;color:var(--dark-yellowish);font-weight:700}
.github-logo{height:20px;width:20px;vertical-align:middle;margin-right:5px}
.open-source{margin-top:10px}
.open-source a{text-decoration:none;color:inherit}
.open-source a:hover{text-decoration:underline}
.export-viz-btn{margin-top:10px;padding:5px 10px;background-color:var(--light-yellowish);border:none;border-radius:5px;cursor:pointer;transition:background-color .3s;width:auto;text-align:center}
.export-viz-btn:hover{background-color:var(--dark-yellowish)}
.annotation{font-size:12px;fill:var(--dark-pinkish)}
text{fill:var(--very-dark-tealish)}
.text-node{font-family:sans-serif;font-size:16px}
.color-highlight{rx:3;ry:3}
.strikethrough{stroke-width:2px}
.annotation-line{stroke-width:2px}
.annotation-text{font-family:sans-serif;font-size:14px;text-anchor:middle}
.annotation-circle{fill-opacity:1}
.visualization{border:1px solid var(--very-light-tealish);border-radius:10px;margin-left:auto;margin-right:auto;width:100%;max-width:600px;box-sizing:border-box}
.subvisualization{width:100%;padding-bottom:55.83%;position:relative}
.subvisualization>svg{width:100%;position:absolute;top:0;left:0}
.modal{display:none;position:fixed;z-index:10;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,.5)}
.modal-content{position:relative;background-color:var(--light-silverish);margin:15% auto;padding:20px;border:1px solid var(--dark-tealish);width:80%;max-width:600px;text-align:center}
.close{color:var(--dark-pinkish);float:right;font-size:28px;font-weight:700}
.close:focus,.close:hover{color:var(--dark-pinkish);text-decoration:none;cursor:pointer}
.wrapper{position:fixed;top:-9999px;left:-9999px;visibility:hidden}
.download-btn{margin-top:10px;padding:5px 10px;background-color:var(--light-yellowish);border:none;border-radius:5px;cursor:pointer;transition:background-color .3s;width:auto;text-align:center}
.download-btn:hover{background-color:var(--dark-yellowish)}
#generated-image{max-width:100%;max-height:100%;height:auto;width:auto}
.item-placeholder{color:var(--dark-silverish);font-style:italic;position:absolute;text-align:center;top:0;left:0}
.download-svg-btn,.download-svg-combined-btn{position:absolute;z-index:2;border:none;background:0 0;cursor:pointer;padding:3px;color:var(--very-light-tealish)}
.download-svg-btn{left:5px;top:5px}
.download-svg-combined-btn{right:5px;top:5px}
.download-svg-btn svg,.download-svg-combined-btn svg{width:24px;height:24px}
.download-svg-btn:hover,.download-svg-combined-btn:hover{color:var(--light-pinkish)}
.compare-btn,.copy-to-designer-btn,.export-btn,.export-viz-btn,.generate-button{display:inline-flex;align-items:center;justify-content:center;padding:5px}
.tab-container{width:100%}
.tab-buttons{display:flex;justify-content:center;margin-bottom:20px}
.tab-link{background-color:var(--light-silverish);border:none;outline:0;cursor:pointer;padding:10px 20px;font-size:16px;color:var(--very-dark-tealish);transition:.3s}
.tab-link:hover{background-color:var(--light-silverish)}
.tab-link.active{background-color:var(--dark-silverish)}
.tab-content{display:none}
.tab-content.active{display:block}
.sidebar{flex-basis:300px;margin-left:20px;display:flex;flex-direction:column;position:relative;min-height:50px;flex:0 0 auto;min-width:300px}
.sidebar:hover .plus-button-container{visibility:visible;pointer-events:auto}
.sidebar:hover .plus-button{opacity:1}
.sidebar:hover .settings-button{opacity:1}
.sidebar-content{padding-top:40px}
.horizontal-line-container{position:relative;margin:20px 0}
.horizontal-line{width:100%;height:1px;background-color:var(--dark-tealish);z-index:-1}
.horizontal-line-text{position:absolute;top:-.75em;left:50%;transform:translateX(-50%);background-color:#fff;border:none;outline:0;padding:0 4px;line-height:1.4;font-weight:700;color:var(--very-dark-tealish)}
.horizontal-line-text:focus{box-shadow:inset 0 0 0 1px var(--dark-silverish)}
.delete-button.horizontal-line-delete{position:absolute;top:-10px;right:-15px;background-color:var(--light-silverish);border:none;border-radius:50%;font-size:12px;width:20px;height:20px;line-height:20px;text-align:center;cursor:pointer}
.item-wrapper{position:relative}
.item-wrapper:hover .delete-button{visibility:visible}
.horizontal-line-delete-button{display:inline-block}
.add-horizontal-line-button{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-color:var(--light-silverish);border:1px solid var(--dark-silverish);border-radius:50%;width:30px;height:30px;line-height:28px;text-align:center;font-size:20px;font-weight:500;color:var(--very-dark-tealish);cursor:pointer;display:none;z-index:10}
.item-container{display:flex;flex-direction:column;position:relative;min-height:20px}
.text-input{flex:1;min-height:100px;padding:10px;border:2px solid transparent;border-radius:5px;outline:0;line-height:1.6;max-width:80ch;word-wrap:break-word;text-align:center;border-color:var(--light-yellowish)}
.text-input.active{border-color:var(--dark-yellowish);background-color:var(--light-off-white)}
.text-input[data-placeholder]:empty::before{content:attr(data-placeholder);color:var(--dark-silverish);pointer-events:none;white-space:pre-wrap}
.text-input:focus[data-placeholder]:empty::before{content:none}
.text-input-container{display:flex;flex-direction:column;justify-content:space-between;height:100%}
.text-input-wrapper{display:flex;flex-direction:column;flex:1;min-width:300px}
.text-area-container{display:flex;flex-direction:column;justify-content:space-between;margin-right:20px;margin-left:10px;gap:10px}
.text-area{font-family:Arial,sans-serif;font-size:16px;width:90%;height:200px;resize:none;border:1px solid var(--dark-silverish);border-radius:4px;padding:10px;line-height:1.6;margin-bottom:10px}
@media (min-width:769px){
.export-btn,.export-viz-btn{margin-left:0;margin-right:0;width:auto;max-width:none}
.hamburger-menu{display:none}
.dropdown-menu{display:none!important}
.flex-container{flex-direction:row;display:flex;justify-content:space-between;align-items:stretch}
.button-input-container,.overlay-button-input-container,.sidebar{flex:1;width:calc(50% - 10px);box-sizing:border-box}
.container-wrapper{width:100%}
}
@media (max-width:768px){
.grid-container{grid-template-columns:1fr;grid-template-rows:repeat(4,1fr)}
.horizontal-accordion .accordion-heading{display:none}
.hamburger-menu{display:block}
.text-input-wrapper{flex:1}
.flex-container{flex-direction:column}
.container-wrapper{width:100%}
.export-btn,.export-viz-btn,.sidebar,.text-input-wrapper{margin-left:auto;margin-right:auto;max-width:500px;box-sizing:border-box}
.sidebar,.text-input-wrapper{width:100%}
.overlay-button-input-container{width:100%}
.text-input-wrapper{order:1}
.sidebar{order:2}
.visualization{order:5}
.export-btn{order:3}
.export-viz-btn{order:4}
}
.modal-gen{display:none;position:fixed;z-index:5;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,.4)}
.modal-content-gen{position:relative;background-color:var(--light-silverish);margin:15% auto;padding:20px;border:1px solid var(--dark-tealish);width:80%;max-width:400px;border-radius:8px}
.modal-header-gen{display:flex;align-items:center}
.modal-buttons-gen{display:flex;gap:8px}
h3{margin:0 0 0 16px;font-size:16px;font-weight:700;color:var(--very-dark-tealish);flex-grow:1;text-align:center}
#closeSettingsModal-gen{background:0 0;border:none;font-size:18px;cursor:pointer;color:var(--dark-pinkish)}
.api-key-settings{display:flex;justify-content:space-between;align-items:center;margin-top:15px}
label{color:var(--dark-tealish)}
#textbox-gen{background-color:var(--very-light-tealish);border:1px solid var(--light-tealish);padding:4px 8px;border-radius:4px;color:var(--very-dark-tealish)}
#saveOptions-gen{background:0 0;border:none;cursor:pointer}
.dropdown-gen{background-color:var(--very-light-tealish);border:1px solid var(--light-tealish);padding:2px 4px;border-radius:4px;font-size:14px;cursor:pointer;padding-right:24px}
.dropdown-gen:focus{outline:0;border-color:var(--dark-tealish)}
.temperature-button{background-color:transparent;border:none;color:var(--dark-tealish);font-size:20px;cursor:pointer;outline:0;position:relative}
.temperature-button:hover{color:var(--very-dark-tealish)}
.temperature-slider-popup{background-color:rgba(255,255,255,.9);border:1px solid var(--light-silverish);padding:10px;border-radius:5px;z-index:5;position:absolute;top:100%;left:0;display:flex;align-items:center;flex-wrap:nowrap;width:100px}
.temperature-value{display:inline-block;color:var(--very-dark-tealish);position:absolute;font-size:12px;transform:rotate(-90deg);transform-origin:center left;top:50%;right:7px;font-weight:700}
.temperature-value-icon{position:absolute;top:-20px;left:50%;transform:translateX(-50%);font-size:14px}
.temperature-slider{width:100%;height:6px;border-radius:5px;outline:0;background:linear-gradient(to right,var(--dark-tealish) 0,var(--dark-tealish) 50%,var(--light-tealish) 50%,var(--light-tealish) 100%)}
.popup-container{position:relative}
.grid-container{display:grid;grid-template-columns:1fr 1fr;grid-template-rows:auto auto;grid-gap:20px;align-items:center}
/ .grid-item{box-sizing:border-box;min-height:100px;display:flex;align-items:center;justify-content:center}
.grid-item-content-editable{position:relative}
.settings-button-gen{background-color:transparent;border:none;font-size:16px;cursor:pointer}
.grid-item-buttons-content{display:flex;flex-direction:column;justify-content:center;align-items:center;height:100%;padding-bottom:10px}
.grid-item-buttons{display:flex;justify-content:center;align-items:center;gap:3px;width:100%;margin-bottom:10px}
