.modal-gen {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-gen {
  position: relative;
  background-color: var(--light-silverish);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--dark-tealish);
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

.modal-header-gen {
  display: flex;
  align-items: center;
}

.modal-buttons-gen {
  display: flex;
  gap: 8px;
}

h3 {
  margin: 0 0 0 16px;
  font-size: 16px;
  font-weight: bold;
  color: var(--very-dark-tealish);
  flex-grow: 1;
  text-align: center;
}

#closeSettingsModal-gen {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--dark-pinkish);
}

.api-key-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

label {
  color: var(--dark-tealish);
}

#textbox-gen {
  background-color: var(--very-light-tealish);
  border: 1px solid var(--light-tealish);
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--very-dark-tealish);
}

#saveOptions-gen {
  background: none;
  border: none;
  cursor: pointer;
}

#dropdown-gen {
  background-color: var(--very-light-tealish);
  border: 1px solid var(--light-tealish);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  padding-right: 24px;
}

#dropdown-gen:focus {
  outline: none;
  border-color: var(--dark-tealish);
}
.temperature-button {
  background-color: transparent;
  border: none;
  color: var(--dark-tealish);
  font-size: 20px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.temperature-button:hover {
  color: var(--very-dark-tealish);
}


.temperature-slider-popup {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--light-silverish);
  padding: 10px;
  border-radius: 5px;
  z-index: 5;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100px;

}


#temperature-value {
  display: inline-block;
  color: var(--dark-tealish);
  position: absolute;
  top: -20px;
  right: 0;
font-size: 12px;
}

#temperature-value-icon {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

#temperature-slider {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  outline: none;
  background: linear-gradient(
    to right,
    var(--dark-tealish) 0%,
    var(--dark-tealish) 50%,
    var(--light-tealish) 50%,
    var(--light-tealish) 100%
  );
}

.popup-container {
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  align-items: center; /
}

.grid-item {
  box-sizing: border-box;
  min-height: 100px; 
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.grid-item-content-editable {
  position: relative;
}

.settings-button-gen {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.grid-item-buttons-content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  height: 100%;
  padding-bottom: 10px;
}

.grid-item-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100%;
  margin-bottom: 10px;
}

