.text-input,
.text-input-tab3 {
 flex: 1;
 min-height: 100px;
 padding: 10px;
 border: 2px solid transparent;
 border-radius: 5px;
 outline: none;
 line-height: 1.6;
 max-width: 80ch;
 word-wrap: break-word;
 text-align: center;
  border-color: var(--light-yellowish);
}

.text-input.active,
.text-input-tab3.active{
 border-color: var(--deep-yellowish);
 background-color: var(--light-silverish)
}

.text-input[data-placeholder]:empty::before,
.text-input-tab3[data-placeholder]:empty::before{
 content: attr(data-placeholder);
 color: var(--dark-silverish);
 pointer-events: none
}

.text-input:focus[data-placeholder]:empty::before,
.text-input-tab3:focus[data-placeholder]:empty::before{
 content: none
}

.text-input-container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100%
}


.text-input-wrapper {
 display: flex;
 flex-direction: column;
 flex: 1;
 min-width: 300px
}

.text-input-tab3-wrapper {
 display: flex;
 flex-direction: column;
 flex: 1;
 min-width: 300px
}

.text-area-container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin-right: 20px;
 margin-left: 10px;
 gap: 10px
}

.text-area-container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin-right: 20px;
 margin-left: 10px;
 gap: 10px
}

.text-area {
  font-family: Arial, sans-serif;
  font-size: 16px;
width: 300px;  
  height: 200px; 
  resize: none;
  border: 1px solid var(--dark-silverish);
  border-radius: 4px;
  padding: 10px;
  line-height: 1.6;
  margin-bottom: 10px; 
}

